doctype html
head
  block vars
  title Stock Market Prediction
  link(rel="stylesheet", href="/vendor/fontello/css/s-m-p.css")
  link(rel="stylesheet", href="/vendor/c3/c3.min.css")
  link(rel="stylesheet", href="/stylesheets/dashboard.css")
body
  section.main-menu
    div.menu
        div
            i.icon-user 
            if user.facebook.name
              p #{user.facebook.name}
            else if user.twitter.email
              p #{user.twitter.displayName}
            else if user.google.name
              p #{user.google.name}
            else if user.linkedin.name
              p #{user.linkedin.name}
            else if user.local.email
              p #{user.local.email}
        div.selected
            i.icon-chart-line 
            p Trends
        div
            i.icon-newspaper 
            p News
    div.sub-menu
        div.addCompanyBtn Add New Company
        div.title Companies
        - if(typeof(companies) !== 'undefined')
            for company in companies
                div.company #{company.name}
        - else
            div.no-company No companies followed.

  section.main-section.main-section-with-sidebar
    block content